$black: #000;
$white: #fff;
$gray-dark: #2f4f4f;
$gray: #808080;
$gray-light: #d3d3d3;
$gray-lighter: #e3e3e3;
$gray-lightest: #f2f2f2;
$red: #ff0000;
$red-dark: #b22222;
$red-light: #ff4444;
$red-lighter: #ff8888;
$red-lightest: #ffbbbb;
$orange: #ffa500;
$orange-dark: #ff8c00;
$orange-light: #ffc844;
$orange-lighter: #ffd8aa;
$orange-lightest: #ffe3cc;
$yellow: #ffff00;
$yellow-dark: #ffff00;
$yellow-light: #ffff44;
$yellow-lighter: #ffff88;
$yellow-lightest: #ffffbb;
$green: #00ff00;
$green-dark: #006400;
$green-light: #44ff44;
$green-lighter: #88ff88;
$green-lightest: #bbffbb;
$blue: #0000ff;
$blue-dark: #000080;
$blue-light: #4444ff;
$blue-lighter: #8888ff;
$blue-lightest: #bbbbff;
$indigo: #4b0082;
$indigo-dark: #00008b;
$indigo-light: #4444ff;
$indigo-lighter: #8888ff;
$indigo-lightest: #bbbbff;
$purple: #800080;
$purple-dark: #4b0082;
$purple-light: #4444ff;
$purple-lighter: #8888ff;
$purple-lightest: #bbbbff;
$pink: #ffc0cb;
$pink-dark: #ff0080;
$pink-light: #ff44ff;
$pink-lighter: #ff88ff;
$pink-lightest: #ffbbff;
$brown: #a52a2a;
$brown-dark: #8b0000;
$brown-light: #c84444;
$brown-lighter: #d8aaaa;
$brown-lightest: #e3cccc;
$cyan: #00ffff;
$cyan-dark: #008080;
$cyan-light: #44ffff;
$cyan-lighter: #88ffff;
$cyan-lightest: #bbffff;
$teal: #008080;
$teal-dark: #006400;
$teal-light: #44ff44;
$teal-lighter: #88ff88;
$teal-lightest: #bbffbb;
$blue-gray: #778899;
$blue-gray-dark: #708090;
$blue-gray-light: #a0aeb0;
$blue-gray-lighter: #c0cfe0;
$blue-gray-lightest: #e0e8e0;
$gray-blue: #8b8989;
$gray-blue-dark: #808000;
$gray-blue-light: #b0b0b0;
$gray-blue-lighter: #c0c0c0;
$gray-blue-lightest: #e0e0e0;
$gray-green: #8b8989;
$gray-green-dark: #808000;
$gray-green-light: #b0b0b0;
$gray-green-lighter: #c0c0c0;
$gray-green-lightest: #e0e0e0;